<div class="container">
<div class="row">
	<div class="col-md-12">

		<section>
			<br /><br />

			<div class="page-header">
				<h1>{{table.name}} <small>Table Summary</small></h1>
			</div>

			<div class="col-sm-6 text-muted">
				<p><small><no-kbd>Click/tap</no-kbd> a row to <span ng-if="table.can_edit==1">show the entry in more detail</span><span ng-if="table.can_edit&gt;=2">edit the entry</span>.
				          <span ng-if="table.can_edit==1"><br />With a keyboard, you can also <no-kbd>alt+click</no-kbd> to immediately edit the entry.</span></small></p>
			</div>
			<div class="col-sm-3 text-right">
				<form ng-if="table.rows.length > 10" class="form-inline" role="form">
					<div class="form-group">
						<button class="btn btn-default" onclick="window.history.back();" type="submit"
							><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
						<button ng-if="table.can_insert" class="btn btn-default" ng-click="addNewClick();"
							><i class="glyphicon glyphicon-plus"></i> Add new</button>
					</div>
				</form>
			</div>
			<div class="col-sm-3">
				<form class="form-horizontal" role="form">
					<div class="form-group has-feedback">
						<label class="sr-only" for="search">Search for rows</label>
						<input type="text" class="form-control" id="search" placeholder="Search for rows" ng-model="search" />
						<label for="search"><i class="glyphicon glyphicon-search form-control-feedback"></i></label>
					</div>
				</form>
			</div>
			<br /><br /><br />

			<table class="table table-hover">
			<thead>
				<tr>
					<th ng-repeat="name in table.row_cols.names_list">{{name}}</th>
				</tr>
			</thead>
			<tbody ng-click="listClick($event);">
				<tr ng-repeat="row in table.rows | filter:search" id="row-{{row[0] | encode_uri_ids}}">
					<td ng-repeat="value in row[1]">{{value}}</td>
				</tr>
			</tbody>
			</table>


			<br />
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<div class="col-sm-12">
					<button class="btn btn-default" type="submit" onclick="window.history.back();"
						><i class="glyphicon glyphicon-chevron-left"></i> Back</button>
					<button ng-if="table.can_insert" class="btn btn-default" ng-click="addNewClick();"
						><i class="glyphicon glyphicon-plus"></i> Add new</button>
					</div>
				</div>
			</form>

		</section>

	</div>
</div>
</div>
