<div class="container" xmlns="http://www.w3.org/1999/html">
<div class="row">
	<div class="col-md-12">

		<section>
			<br /><br />

			<div class="page-header">
				<h1><small>{{add_new ? 'New' : 'Editing'}}</small> {{row.columns[row.col_name].value}}</h1>
			</div>

			<div class="hidden-xs">
			<br />
			</div>


			<form name="input_form" class="form-horizontal" role="form" ng-submit="saveClick($event);">
				<div class="form-group" ng-repeat="col in row.columns | add_show_property">
					<label ng-if="col.control != 'checkbox'" for="input-{{$index}}" class="col-sm-3 control-label">{{col.name}}</label>
					<div   ng-if="col.control == 'checkbox'" class="col-sm-3"></div>
					<div ng-switch="col.control" class="col-sm-8">
						<div ng-switch-when="label">
							<p ng-if="col.show == 'true'"             class="form-control-static"><i class="glyphicon glyphicon-check"        ></i> <i>Yes</i></p>
							<p ng-if="col.show == 'false'"            class="form-control-static"><i class="glyphicon glyphicon-unchecked"    ></i> <i>No</i></p>
							<p ng-if="col.show == 'null' &&  add_new" class="form-control-static"><i class="glyphicon glyphicon-asterisk"     ></i> <i>Automatic</i></p>
							<p ng-if="col.show == 'null' && !add_new" class="form-control-static"><i class="glyphicon glyphicon-remove-circle"></i> <i>Null</i></p>
							<p ng-if="col.show == 'option'"           class="form-control-static"><i class="glyphicon glyphicon-th-list"      ></i> {{col.options[col.value]}}</p>
							<p ng-if="col.show == 'other'"            class="form-control-static">{{col.value}}</p>
						</div>
						<select ng-switch-when="select" class="form-control" id="input-{{$index}}" ng-model="col.value">
							<option ng-repeat="(key,opt) in col.options" value="{{key}}" ng-selected="col.value == key">{{opt}}</option>
						</select>
						<div ng-switch-when="radio">
							<div ng-repeat="(key,opt) in col.options" class="radio">
								<label>
								<input type="radio" name="input-{{$index}}" id="radio-{{$index}}-{{key}}" value="{{key}}" ng-checked="col.value == key"> {{opt}}
								</label>
							</div>
						</div>
						<div ng-switch-when="checkbox">
							<div class="checkbox">
								<label>
								<input type="checkbox" name="input-{{$index}}" id="input-{{$index}}" ng-model="col.value" ng-true-value="1" ng-false-value="0" />&nbsp;{{col.name}}
								</label>
							</div>
						</div>
						<div ng-switch-when="password" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-tower"></i></label>
						</div>
						<div ng-switch-when="date" class="input-group" ng-controller="DatepickerCtrl">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" datepicker-options="date_options" datepicker-popup="yyyy-MM-dd"  is-open="datepicker_open" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="datepickerOpenClick($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
						<!-- For the option of having a date picker on datetime controls:
						     (note that Datepicker invalidates input if it contains time!)
						<div ng-switch-when="datetime" class="input-group" ng-controller="DatepickerCtrl">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" datepicker-options="date_options" datepicker-popup="yyyy-MM-dd"  is-open="datepicker_open" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="datepickerOpenClick($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
						<div ng-switch-when="datetime-local" class="input-group" ng-controller="DatepickerCtrl">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" datepicker-options="date_options" datepicker-popup="yyyy-MM-dd"  is-open="datepicker_open" />
							<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="datepickerOpenClick($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</div>
						-->
						<div ng-switch-when="datetime" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></label>
						</div>
						<div ng-switch-when="datetime-local" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></label>
						</div>
						<timepicker ng-switch-when="time" ng-model="col.value" hour-step="1" minute-step="1" show-meridian="0"></timepicker>
						<div ng-switch-when="month" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></label>
						</div>
						<div ng-switch-when="week" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></label>
						</div>
						<div ng-switch-when="number" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon">123</label>
						</div>
						<div ng-switch-when="email" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon">@</label>
						</div>
						<div ng-switch-when="tel" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></label>
						</div>
						<div ng-switch-when="url" class="input-group">
							<input type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-globe"></i></label>
						</div>
						<div ng-switch-when="textaddr" class="input-group">
							<textarea rows="5" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value"></textarea>
							<label for="input-{{$index}}" class="input-group-addon"><i class="glyphicon glyphicon-home"></i></label>
						</div>
						<div ng-switch-when="textarea">
							<textarea rows="5" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value"></textarea>
						</div>
						<input ng-switch-default type="{{col.control}}" class="form-control" id="input-{{$index}}" placeholder="{{col.control | control_to_placeholder}}" ng-model="col.value" />
						<span ng-if="col.help != ''" class="help-block">{{col.help}}</span>
					</div>
				</div>
				<div class="form-group">
					<br />
					<div class="col-sm-12">
					<!-- the first button is actually an anchor so that it doesn't become the default for the "Enter" key! -->
					<a class="btn btn-default" ng-click="window.history.back();"
						><i class="glyphicon glyphicon-chevron-left"></i> Cancel/Back</a>
					<nobr><button class="btn btn-default" type="submit" ng-disabled="input_form.$pristine"
						><i class="glyphicon glyphicon-save"></i> Save</button
					>&nbsp;<button ng-if="!add_new  &&  row.can_delete" class="btn btn-default" ng-click="deleteClick($event);"
						><i class="glyphicon glyphicon-remove"></i> Delete</button></nobr>
					</div>
					<br /><br />
				</div>
			</form>

		</section>

	</div>
</div>
</div>
